<div class="issuePanelContainer">
<div class="mod-content">
    <table class="aui">
	    <thead>
	        <tr>
	            <th id="name">Name</th>
	            <th id="lastupdated">Last Updated</th>
	        </tr>
	    </thead>
	    <tbody>
			#foreach( $entry in $jobs.entrySet() )
			<tr>
				<td>
					$entry.getKey()
				</td>
				<td>
					$entry.getValue()
				</td>
			</tr>
		 	#end
	    </tbody>

    </table>
</div>
</div>